<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<article>
  <div id="centrovac" class="domu-article">

    <section>
      <p>
        Toto je závěrečný projekt ke zkoušce u ItNetwork
      </p>
      <p>
        Jedná se o správů pojištění a pojištěných osob.
      </p>

    </section>
  </div>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>